.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  
    backdrop-filter: blur(5px); 
  }
  
  .modal-content{
    background-color:white;
    padding: 45px;
    border-radius: 5px;
    text-align: center;
  }

  .modal-title{
    color: rgba(0, 173, 218, 1);
    font-size: 30px;
  }
  
  .modal-perdre {
    background-color:white;
    padding: 45px;
    color: rgb(189, 44, 44);
    border-radius: 5px;
    text-align: center;
  }

  .modal-victoire{
    margin : 20px;
    background-color: white;
    color: #85BC54;
    padding: 45px;
    border-radius: 5px;
    text-align: center;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color:rgba(251, 171, 41, 1);
    background-color: rgba(251, 170, 41, 0.411);
    border-color: rgba(251, 171, 41, 1);
  }

.grid-cell {
    width: 60px; 
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
  }
  
  .grid-cell.valid {
    background-color: #4D5156;
  }
  
  .grid-cell.invalid {
    background-color: #85BC54;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  .time{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .App-page{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .App-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .penalty-message {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1010;
  }

  .logo{
    width: 150px;
    height: 150px;
  }
  

  
